<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div>Test calculators</div>
  <div>
    <a routerLink="/basic">Basic</a>
    <a routerLink="/engineering">Engineering</a>
  </div>
  <router-outlet></router-outlet>
</div>


