<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" (window:keypress)="onGlobalSelect($event)">
  <div>Engineering calculator</div>
  <div class="calc">
    <div class="calc-input">
      <div class="exp-input" placeholder="0">{{expression}}</div>
      <div class="exp-input-right"> ) = {{countTab}}</div>
    </div>
    <div class="calc-button">
      <div class="calc-button__synb">
        <div *ngFor="let num_row of [['sqrt', '^2', 'log', 'sin'], ['cos', 'tan', '(', ')']]" class="calc-button__number_row button-row">
          <div class="calc-button__synb_btn" *ngFor="let num of num_row"  (click)="onSelect(num)" >
            <button md-button color="primary">{{num}}</button>
          </div>
        </div>
      </div>
      <div class="calc-button__number">
        <div *ngFor="let num_row of [[1, 2, 3], [4, 5, 6], [7, 8, 9], ['.', 0]]" class="calc-button__number_row">
          <button md-button color="primary" *ngFor="let num of num_row" class="calc-button__number_btn" (click)="onSelect(num)">{{num}}</button>
        </div>
      </div>
      <div class="calc-button__synb">
        <button md-button color="primary" *ngFor="let btn of ['c', 'ce', '+', '-', '*', '/', '=']" class="calc-button__synb_btn" (click)="onSelect(btn)">{{btn}}</button>
      </div>
    </div>
  </div>
</div>


