.text-right {
  text-align: right;
}

.calc {
  width: 400px;
  margin: 5% auto 0;
  padding: 10px;
  border: 5px ridge red;
}

.calc-input {
  height: 20px;
}

.calc-button {
  clear: both;
  display: table;
  content: '';
  width: 100%;
  margin-top: 20px;
}

.calc-button__number {
  width: 70%;
  display: inline-block;
  float: left;
}

.calc-button__number_row {
  display: table;
  width: 100%;
  clear: both;
}

.calc-button__number_btn:hover {
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.calc-button__number_btn {
  width: 20%;
  height: 40px;
  padding: 4%;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  border: 1px solid;
  margin: 3px;
  cursor: pointer;
}
.calc-button__synb {
  width: 30%;
  display: inline-block;
  float: left;
}

.calc-button__synb_btn:hover {
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

.calc-button__synb_btn {
  width: 40%;
  margin: 6px auto;
  border: 1px solid #333;
  box-sizing: content-box;
  cursor: pointer;
}

