<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div>Basic calculator</div>
  <div class="calc">
    <div class="calc-input">
      <input class="text-right" [(ngModel)]="expression" placeholder="0"/>
    </div>
    <div class="calc-button">
      <div class="calc-button__number">
        <div *ngFor="let num_row of [[1, 2, 3], [4, 5, 6], [7, 8, 9], ['.', 0]]" class="calc-button__number_row">
          <div *ngFor="let num of num_row" class="calc-button__number_btn" (click)="onSelect(num)">{{num}}</div>
        </div>
      </div>
      <div class="calc-button__synb">
        <div *ngFor="let btn of ['c', 'ce', '+', '-', '*', '/', '=']" class="calc-button__synb_btn" (click)="onSelect(btn)">{{btn}}</div>
      </div>
    </div>
  </div>
</div>


